# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Day1/x64
/Day1/Debug
/x64
/.vs
/Day1.pdb
/Day1.ipdb
/Day1.iobj
/Day2/x64/Release/Day2.tlog
/Day2/x64/Release
/Day2/Day2.pdb
/Day2/Day2.ipdb
/Day2/Day2.iobj
